
body {
	background-color: #161616;
  background-image: url("../img/bg.png");
  
 
 
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}


.intro{
  
  padding: 5rem;
  
}
.introbutton a:hover{
  color: #828283;
  transition-duration: 0.5s !important;
}

.introbutton a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font: 700 20px consolas;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.introbutton a span {
  position: absolute;
  display: block;
}

.introbutton a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #171618, #3b86ff);
  animation: animate1 1.5s linear infinite !important; /* Reduced duration */
}

.introbutton a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #171618, #3b86ff);
  animation: animate2 1.5s linear infinite !important; /* Reduced duration */
  animation-delay: 0.5s !important; /* Adjusted delay */
}

.introbutton a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, #3b86ff);
  animation: animate3 1.5s linear infinite !important; /* Reduced duration */
}

.introbutton a span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, #171618, #3b86ff);
  animation: animate4 1.5s linear infinite !important; /* Reduced duration */
  animation-delay: 0.5s !important; /* Adjusted delay */
}

/* Keyframe animations for smooth movement */
@keyframes animate1 {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}


header {
  background-color: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2001;
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  z-index: 2000;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards !important;
  animation-delay: 7s;
  margin-bottom: 20px;
  margin-left: 50px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards !important;
  z-index: 3000;
}

nav ul li:nth-child(1) {
  animation-delay: 5.5s !important;
}

nav ul li:nth-child(2) {
  animation-delay: 6s !important;
}

nav ul li:nth-child(3) {
  animation-delay: 6.5s !important;
}

nav ul li:nth-child(4) {
  animation-delay: 7s !important;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #171618, #3b86ff);
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s !important;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background: rgb(63,94,251);
  background-color: #0a0a0b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f5f2fb' fill-opacity='0.07'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}



@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}



main {
  position: relative;
  z-index: 101;
  padding: 20px;
  color: white;
  max-width: 100%;
}

.wrapper h1 {
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Center the content */
  letter-spacing: .15em; /* Adjust as needed */
  width: 0; /* Initially hide the text by setting the width to 0 */
  visibility: hidden; /* Keep the text hidden */
  animation: 
    typing 2.2s steps(30, end) 3s forwards !important ; /* Typing effect with delay */
   
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
  100% { border-color: white; }
}

/* Show the text after the delay and start typing */
.wrapper h1 {
  visibility: visible; /* Text becomes visible after the delay */
  animation-delay: 8s !important;
}



.maincontainer {
  text-align: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  animation: fadeIn ease-in 1 !important;
  animation-fill-mode: forwards !important;
  animation-delay: 11s !important;
  animation-duration: 1s !important;
  text-align: center;
 
}

.fade-in h3 {
  font-size: 2rem;
}

.fade-in p {
  margin-top: 5px;
}

.hi{

  text-align: center;
  font-size: 2rem;
  



}



p {
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
.intro{
  display: flex;
  justify-content: center;

}
.resume{
 width: 55px;
 height: 55px;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
 
 
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease-in-out !important;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.linkedin{
  animation-name: floating;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease-in-out !important;
  animation-delay: .5s !important;
  margin-left: 30px;
  margin-top: 5px;
  
}

.github{
  animation-name: floating;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease-in-out !important;
  animation-delay: .8s !important;
  margin-left: 30px;
  margin-top: 5px;
  
}

.github img{
  width: 55px;
  height: 55px;
   
}

.linkedin img{
  width: 55px;
  height: 55px;
}
.github, .resume, .linkedin {
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.github:hover, .resume:hover, .linkedin:hover{
  transition: mask-position 2s ease,-webkit-mask-position 2s ease !important;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}


.aboutme h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: -30px;
  
}
.aboutme {
  margin-top: 170px;
  display: flex;
  justify-content: center;
}



.shape {
 
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0.4s;
  
}
.bg-cover {
  margin:20vh auto;
    height: 280px;
  width: 280px;
   background-image: url("../img/picofme.JPG");
     -webkit-animation: liquid 7s ease-in-out infinite;
    animation: liquid 7s ease-in-out infinite !important;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-size:cover;
  
}
@keyframes liquid {
0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
   
}
50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  
}
100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    
}
  }



.fade {
  opacity: 0;
  z-index: 100;
}

.fade-visible img {
  opacity: 1; /* Fully visible when scrolled into view */
}



#section3 h3 {
  
  font-size: 3rem;
  text-align: center;
  
  padding-bottom: 5.5rem;
}

.projects div {
  padding-bottom: 2rem;
}



.zoom img {
  transition-duration: 0.5s !important;
}
.zoom img:hover {
  opacity: 0.4;
}

.projects .fade{
  
  
  border: 2px solid #3b86ff;
  border-radius: 10px;
  color: white;
  padding: 2.5rem;
  background-color: #1b2735;
  
}


.projects a{
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}



.slideshow  h3 {
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
  
}

.slideshow{
 
  padding-top: 50px;
  height: 700px;
  perspective: 1000px;
  max-width: 100%;
  overflow-x: hidden;
 
}


.content{
  margin: auto;
  width: 150px;
  perspective: 1000px;
  position:relative;
  padding-top: 80px;
  transform-style: preserve-3d;
}


.slider-content{
  width: 100%;
  position:absolute;
  float:right;
  animation: rotate 15s infinite linear !important;
  transform-style: preserve-3d;
}


.slider-content figure{
  width:120px;
  height:100px;
  
  overflow:hidden;
  position:absolute;
}
.slider-content figure:nth-child(1){
  transform:rotateY(0deg) translateZ(300px);
}

.slider-content figure:nth-child(2){
  transform:rotateY(40deg) translateZ(300px);
}
.slider-content figure:nth-child(3){
  transform:rotateY(80deg) translateZ(300px);
}
.slider-content figure:nth-child(4){
  transform:rotateY(120deg) translateZ(300px);
}
.slider-content figure:nth-child(5){
  transform:rotateY(160deg) translateZ(300px);
}
.slider-content figure:nth-child(6){
  transform:rotateY(200deg) translateZ(300px);
}
.slider-content figure:nth-child(7){
  transform:rotateY(240deg) translateZ(300px);
}
.slider-content figure:nth-child(8){
  transform:rotateY(280deg) translateZ(300px);
}
.slider-content figure:nth-child(9){
  transform:rotateY(320deg) translateZ(300px);
}

.shadow{
  position: absolute;
  box-shadow: 0px 0px 0px #000;
 
}
.slider-content figure {
  width: 120px;
  height: 150px; /* Increase the height to make room for the text */
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  text-align: center; /* Center-align the text */
}

.slider-content img {
  width: 100%;
  height: 100px; /* Adjust the height of the image to leave space for the text */
  object-fit: contain;
  transition: transform 300ms ease-in-out;
}

.slider-content p {
  margin: 10px 0 0; /* Adds margin above the text */
  font-size: 14px; /* Adjust font size if needed */
  color: white; /* Ensure the text color is visible */
  position: relative;
}

.slider-content:hover{
  cursor: pointer;
  animation-play-state: paused !important;
}

@keyframes rotate {
  from{
    transform: rotateY(0deg);
  }
  to{
      transform: rotateY(360deg);
  }
}


.skills img {
  width: 100px;
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}




.skills .fade{

  text-align: center;

}

.flex {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.contact h3 {
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 50px;
}

.contact {
  text-align: center;
  padding-bottom: 100px;
  margin-top: 150px;
  margin-bottom: 80px;
}
.contact p {
  font-size: 1.5rem;
}


span{
  color: #3b86ff;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 2px;
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;

}

span:hover{
  transition: mask-position 2s ease,-webkit-mask-position 2s ease !important;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
  cursor: pointer;

}







.read-more-target,
.read-more-target2,
.read-more-target3,
.read-more-target4,
.read-more-target5,
.read-more-target6,
.read-more-target7,
.read-more-trigger_opened,
.read-more-trigger_opened2,
.read-more-trigger_opened3,
.read-more-trigger_opened4,
.read-more-trigger_opened5,
.read-more-trigger_opened6,
.read-more-trigger_opened7 {
  display: none;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target,
.read-more-state2:checked ~ .read-more-wrap2 .read-more-target2,
.read-more-state3:checked ~ .read-more-wrap3 .read-more-target3,
.read-more-state4:checked ~ .read-more-wrap4 .read-more-target4,
.read-more-state5:checked ~ .read-more-wrap5 .read-more-target5,
.read-more-state6:checked ~ .read-more-wrap6 .read-more-target6,
.read-more-state7:checked ~ .read-more-wrap7 .read-more-target7,
.read-more-state:checked ~ .read-more-trigger_opened,
.read-more-state2:checked ~ .read-more-trigger_opened2,
.read-more-state3:checked ~ .read-more-trigger_opened3,
.read-more-state4:checked ~ .read-more-trigger_opened4,
.read-more-state5:checked ~ .read-more-trigger_opened5,
.read-more-state6:checked ~ .read-more-trigger_opened6,
.read-more-state7:checked ~ .read-more-trigger_opened7 {
  display: block;
}
.read-more-state:checked ~ .read-more-trigger_closed,
.read-more-state2:checked ~ .read-more-trigger_closed2,
.read-more-state3:checked ~ .read-more-trigger_closed3,
.read-more-state4:checked ~ .read-more-trigger_closed4,
.read-more-state5:checked ~ .read-more-trigger_closed5,
.read-more-state6:checked ~ .read-more-trigger_closed6,
.read-more-state7:checked ~ .read-more-trigger_closed7 {
  display: none;
}

label {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Container for form */
form {
  max-width: 600px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  z-index: 2500;
}

/* Label styling */
form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #1b2735;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Input fields */
form input[type="email"],
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #1b2735;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
}

/* Button styling */
form button {
  width: 100%;
  padding: 12px;
  background-color: #1b2735;
  border: 1px solid #1b2735;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease !important;
}

form button:hover {
  background-color: white;
  color: #1b2735;
}

/* Textarea */
form textarea {
  min-height: 150px;
  resize: vertical;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.projects img{
  border: 4px solid linear-gradient(to right, #171618, #3b86ff);

}



/* For larger screens: two divs per row */
.projects  {
  flex: 0 1 calc(50% - 25px); /* Take up 50% of the width minus the gap */
  box-sizing: border-box;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* For larger screens: two divs per row */
.projects .fade {
  flex: 0 1 calc(50% - 25px); /* Take up 50% of the width minus the gap */
  box-sizing: border-box;
}



.wireframe{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects label{
  color: #3b86ff;

}

.projects label:hover{
  cursor: pointer;
  color: #6981c2;
}

.hover{
  color: #3b86ff;
  
  
}
.hover img{
  width: 50px;
  
}
.hover:hover{
  color: #6981c2;


}

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");




/* PRELOADER CSS */
.page-loader{
	width: 100%;
	height: 100%;
	position: fixed;
	background: black;
  height: 100%;
	z-index: 5000;
	.txt{
		color: white;
		text-align: center;
		top: 40%;
		position: relative;
		text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
	}
}

/* SPINNER ANIMATION */
.spinner {
	position: relative;
	top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out !important;
  animation: sk-scaleout 1.0s infinite ease-in-out !important;
}



@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/* Responsive for smaller screens */

@media screen and (max-width: 900px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    text-align: left;
  }

  nav ul {
    flex-direction: column;
  }


  nav ul li a {
    margin: 0;
    font-size: 1.5rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }

  nav ul li:nth-child(1) {
    animation-delay: 1s !important;
  }
  
  nav ul li:nth-child(2) {
    animation-delay: 1.5s !important;
  }
  
  nav ul li:nth-child(3) {
    animation-delay: 2s !important;
  }
  
  nav ul li:nth-child(4) {
    animation-delay: 2.5s !important;
  }

  .projects {
    flex-direction: column; /* Stack items vertically */
    margin-top: -20px;
  }

  .projects  {
    width: 100%; /* Full width for each div */
  }

  .aboutme img{

    margin-top: -30px;

  }

  .slideshow{
    margin-top: 40px;
    
  }

  #section3{
    margin-top: -60px;

  }

  #section1{

    margin-top: -50px;

  }
}

@media (max-width: 768px) {
  .projects {
    flex-direction: column; /* Stack items vertically */
  }

  .projects .fade {
    width: 100%; /* Full width for each div */
  }

  
  

  
}



/* Mobile responsive adjustments */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  form h3 {
    font-size: 1.5rem;
  }

  form input[type="email"],
  form textarea {
    padding: 10px;
    font-size: 1rem;
  }

  form button {
    padding: 10px;
    font-size: 1rem;
  }
}



@media (min-width: 800px) {
  .tablet {
    width: 700px;
  }

  .hi{
    font-size: 3.5rem;
  }

  .aboutflex{
    display: flex;
    align-items: center;
    gap: 50px;
  }

  #cursor-border {
    --size: 50px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 0 0 0 1px #bcc1c4;
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
      height 0.15s ease-out, background-color 0.15s ease-out  !important;
    z-index: 2000;
  }
  
 
}








